<html ng-app>
<head>
	<title>ToDoApp</title>
	<script src="http://code.angularjs.org/1.2.16/angular.js"></script>
	<script type="text/javascript" src="js/todo.js"></script>
	<link rel="stylesheet" type="text/css" href="../libs/bootstrap-3.1.1/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/todo.css">
</head>
<body>
	<div ng-controller="TodoController">
		<h2>total todos: {{totalToDos}}</h2>
		<ul class="list-unstyled">
			<li ng-repeat="todo in todos">
				<input type="checkbox" ng-model="todo.done">
				<span class="done-{{todo.done}}">{{todo.text}}</span>
			</li>
			<form class ="form-horizontal">
				<input type="text"ng-model="formTodoText" ng-model-instant />

				<button class="btn" ng-click=addTodo()>Add</button>
			</form>

			


		</ul>
	</div>
</body>
</html>