<html ng-app="myApp">
<head>
	<title>ToDoApp</title>
    <script src="src/libs/angularjs/angularjs.js"></script>
	<script type="text/javascript" src="src/js/app.js"></script>
	<script type="text/javascript" src="src/js/todo.js"></script>
	<link rel="stylesheet" type="text/css" href="src/libs/bootstrap-3.1.1/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="src/css/todo.css">
</head>
<body>
	<div ng-controller="todoApp" class="container">
		<h2>total todos: {{getTotalTodos()}}</h2>
		<ul class="list-unstyled">
			<li ng-repeat="todo in todos">
				<input ng-model="todo.done" type="checkbox">
				<span class="done-{{todo.done}}">{{todo.text}}</span>
				<span ng-click="removeTodo(todo)"class="glyphicon glyphicon-remove"></span>
			</li>
			<form class ="form-horizontal">
				<input type="text" ng-model= "formTodoText" />
			    <button class="btn btn-primary" ng-click=addTodo()>Add</button>
                <p class="warning" ng-show ="displayErrorMessage ==true">Please give a name</p>
			    <br />
				<button class="btn btn-warning" ng-click=clearDoneTodos()>Clear Done Tasks</button>
			</form>
		</ul>
	</div>
</body>
</html>